/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/app/Http/Controllers/bulletinboard/bulletinboardController.php
/app/Http/Controllers/bulletinboard/updateController.php
/app/account.php
/app/accounts.php
/database/*.gitignore
/database/migrations/2020_07_22_073917_create_staff_table.php
/database/migrations/2020_08_04_025705_create_thread_table.php
/database/migrations/2020_09_01_000000_create_users_table.php
/resources/views/exp/expmeun.blade.php
/resources/views/exp/expreg.blade.php
/resources/views/exp/expedit.blade.php
/app/Http/Controllers/expController.php
expController.php
